<template>
  <q-layout>
    <div class="empty"></div>
    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'EmptyLayout'
}
</script>

<style scoped>

</style>
