1<template>
  <q-layout>
    <div class="navbar">
      <div class="logo">
        <img src="../assets/main/tutor_logo.svg" class="logo" alt="tutor logo">
      </div>
      <div class="nav-container row wrap justify-between items-center">
        <div class="links">
          <q-tabs v-model="tab">
            <q-tab class="tab-text" name="courses" label="Курсы" />
            <q-tab class="tab-text" name="teachers" label="Репетиторы" />
            <q-tab class="tab-text">
              <q-btn align="around" flat label="Уроки" to="/rooms"></q-btn>
            </q-tab>
          </q-tabs>
        </div>
        <q-space />
        <div v-if="authorized === false" class="user-info row wrap justify-between items-center">
          <div class="authorize-block">
            <q-btn flat to="/login" label="Войти" />
            <q-btn flat to="/registration" label="Зарегистрироваться" />
          </div>
        </div>
        <div v-else class="user-info row wrap justify-between items-center">
          <div class="balance row wrap items-end">
            <svg width="34" height="30" viewBox="0 0 34 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M30.6 6.66667V3.33333C30.6 1.495 29.0751 0 27.2 0H5.1C2.2882 0 0 2.24333 0 5V25C0 28.6683 3.0498 30 5.1 30H30.6C32.4751 30 34 28.505 34 26.6667V10C34 8.16167 32.4751 6.66667 30.6 6.66667ZM27.2 21.6667H23.8V15H27.2V21.6667ZM5.1 6.66667C4.1616 6.66667 3.4 5.91833 3.4 5C3.4 4.08167 4.1616 3.33333 5.1 3.33333H27.2V6.66667H5.1Z"
                fill="#3D865A" />
            </svg>
            <div class="balance-info">
              <p class="balance-info-text">:10000 тг</p>
            </div>
          </div>
          <div class="notices row wrap items-end">
            <svg width="27" height="30" viewBox="0 0 27 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M13.5 30C15.4665 30 17.1105 28.749 17.727 27H9.273C9.8895 28.749 11.5335 30 13.5 30ZM24 18.879V12C24 7.1745 20.7225 3.1095 16.2825 1.887C15.843 0.78 14.769 0 13.5 0C12.231 0 11.157 0.78 10.7175 1.887C6.2775 3.111 3 7.1745 3 12V18.879L0.4395 21.4395C0.1575 21.72 0 22.101 0 22.5V24C0 24.8295 0.6705 25.5 1.5 25.5H25.5C26.3295 25.5 27 24.8295 27 24V22.5C27 22.101 26.8425 21.72 26.5605 21.4395L24 18.879Z"
                fill="#3D6786" />
            </svg>
            <div class="notices-count">
              <p class="notices-count-text">99+</p>
            </div>

          </div>
          <div class="user-profile row wrap">
            <q-btn to="/profile"><svg width="28" height="30" viewBox="0 0 28 30" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 7.10526C7 11.0226 10.1407 14.2105 14 14.2105C17.8593 14.2105 21 11.0226 21 7.10526C21 3.18789 17.8593 0 14 0C10.1407 0 7 3.18789 7 7.10526ZM26.4444 30H28V28.4211C28 22.3279 23.114 17.3684 17.1111 17.3684H10.8889C4.88444 17.3684 0 22.3279 0 28.4211V30H1.55556H3.11111H24.8889H26.4444Z"
                  fill="#434343" />
              </svg></q-btn>
          </div>
          <div class="hello-user row wrap items-end">
            <q-btn @click="logout">
              <q-avatar class="logout" size="32px">
                <img src="../assets/main/logout.png" alt="exit">
              </q-avatar>
            </q-btn>
          </div>
        </div>
      </div>
    </div>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent } from 'vue'
import { useRouter } from 'vue-router'
import { getUserData, logOut } from '../api/auth'
export default defineComponent({
  name: 'MainLayout',
  data() {
    const router = useRouter()
    return {
      email: null,
      authorized: false,
      router
    }
  },
  mounted() {
    this.GetUserData()
  },
  methods: {
    async GetUserData() {
      try {
        const response = await getUserData()
        if (response.data.statusCode === 604) {
          this.authorized = false
        } else {
          this.authorized = true
        }
      } catch (e) {
        this.authorized = false
      }
    },
    async logout() {
      try {
        const response = await logOut()
        if (response.status === 200) {
          this.authorized = false
        }
      } catch (e) {
        this.authorized = false
      }
    }
  }
})
</script>

<style>
.logo {
  width: 32%;
  vertical-align: middle;
  text-align: center;
  margin: 2px;
}
.container{
  position: inherit !important;
  top: -180px;
}
.q-pa-md{
  padding: 68px 16px;
}
/* .logo-btn {
  height: 100%;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
} */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #d5eeff;
}

.nav-container {
  margin: 0 auto;
  max-width: 1440px;
  height: 50px;
  width: 80%;
}

.logout {
  border-radius: 0 !important;
}

.user-info {
  min-width: 32%;
  height: 100%;
}

.balance-info {
  padding: 1px 25px 1px 5px;
  background-color: #ABE3C1;
  border-radius: 15px;
}

.notices {
  min-width: 25%;
}

.notices-count {
  padding: 1px 10px 1px 5px;
  color: #FF0606;
  background-color: #ABCBE3;
  border-radius: 15px;
}

.q-tab__label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: none;
}
</style>
