<template>
  <q-page class="flex flex-center">
    <div class="registration-block" >
      <h2 class="registration-title">Авторизация</h2>
      <q-card-section class="registration-card">
        <q-form @submit="onSubmit">
          <q-input class="q-my-sm" outlined v-model="authorizationModel.email" label="Email" placeholder="Введите email" :rules="emailRules" />
          <q-input class="q-my-sm" outlined label="Пароль" filled :type="isPwd ? 'password' : 'text'" v-model="authorizationModel.password"
                   placeholder="Введите пароль" :rules="passwordRules">
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
          <q-btn label="Войти" type="submit" color="primary"/>
          <p class="error">{{error}}</p>
        </q-form>
      </q-card-section>
    </div>
  </q-page>
</template>

<script>
import { authenticate } from 'src/api/auth'
import { useRouter } from 'vue-router'
export default {
  name: 'LoginPage',
  data () {
    const router = useRouter()
    return {
      authorizationModel: {
        email: '',
        password: ''
      },
      error: '',
      isPwd: true,
      emailRules: [
        val => (val && val.length > 0) || 'Поле не заполнено'
      ],
      passwordRules: [
        val => (val && val.length > 0) || 'Поле не заполнено'
      ],
      router
    }
  },
  methods: {
    async onSubmit () {
      const response = await authenticate(this.authorizationModel)
      if (response.data.isSuccess) {
        await  this.router.push('/')
      } else {
        console.log(response)
        this.error = response.data.errorModel.message
      }
    }
  }
}
</script>

<style scoped>
.registration-block{
  margin: 0 auto;
}

.error{
  margin-top: 10px;
  color: red;
  font-size: 14px;
  font-weight: 400;
}
</style>
