<template>
  <q-page class="flex flex-center">
    <div class="registration-block" >
      <h2 class="registration-title">Регистрация</h2>
      <q-card-section class="registration-card">
        <div class="q-my-sm" style="color:red" v-for="item in errorMesages" :key="item">{{item.errorMessage}}</div>
        <q-form @submit="onSubmit">
          <q-input class="q-my-sm" outlined v-model="registrationModel.email" label="Email" placeholder="Введите email" :rules="emailRules" />
          <q-input class="q-my-sm" outlined label="Пароль" filled :type="isPwd ? 'password' : 'text'" v-model="registrationModel.password"
                   placeholder="Введите пароль" :rules="passwordRules">
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />

            </template>
          </q-input>
          <q-input class="q-my-sm" outlined label="Подвтердите пароль" filled :type="isConfirm ? 'password' : 'text'"
                   v-model="registrationModel.passwordConfirm" placeholder="Подвтердите пароль" :rules="passwordConfirmRules">
            <template v-slot:append>
              <q-icon
                :name="isConfirm ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isConfirm = !isConfirm"
              />
            </template>
          </q-input>
          <q-input class="q-my-sm" outlined label="Имя" type="text" v-model="registrationModel.firstName" placeholder="Введите имя" :rules="nameRules"/>
          <q-input class="q-my-sm" outlined label="Фамилия" v-model="registrationModel.lastName" placeholder="Введите фамилию" type="text" :rules="lastNameRules"/>
          <q-input class="q-my-sm" outlined label="Номер телефона" v-model="registrationModel.phone" placeholder="Введите номер телефона" fill-mask :rules="phoneRules"/>
          <q-input class="q-my-sm" outlined label="" v-model="registrationModel.dateBirth" type="date" aria-placeholder="" :rules="birthRules"/>
          <q-btn label="Зарегестрироваться" type="submit" color="primary"/>
        </q-form>
      </q-card-section>
    </div>
  </q-page>
</template>

<script>
import { register } from 'src/api/auth'
import { useRouter } from 'vue-router'
import { ref } from 'vue'
export default {
  name: 'RegistrationPage',
  data () {
    const router = useRouter()
    const inputRef = ref(null)
    return {
      registrationModel: {
        password: '',
        passwordConfirm: '',
        email: '',
        firstName: '',
        lastName: '',
        phone: '',
        dateBirth: ''
      },
      isPwd: true,
      isConfirm: true,
      errorMesages: '',
      emailRules: [
        val => (val && val.length > 0) || 'Поле не заполнено',
      ],
      passwordConfirmRules: [
        val => (val && val.length > 0) || 'Поле не заполнено',
        val => (val && val === this.registrationModel.password) || 'Пароли не совпадают'
      ],
      nameRules: [
        val => (val && val.length > 0) || 'Поле не заполнено'
      ],
      lastNameRules: [
        val => (val && val.length > 0) || 'Поле не заполнено'
      ],
      phoneRules: [
        val => (val && val.length > 0) || 'Поле не заполнено',
        val => (val && val.length > 9) || 'Неверный формат'
      ],
      passwordRules: [
        val => (val && val.length > 0) || 'Поле не заполнено'
      ],
      birthRules: [
        val => (val && val.length > 0) || 'Поле не заполнено'
      ],
      router
    }
  },
  methods: {
    async onSubmit () {
      const response = await register(this.registrationModel)
      if(response.data.validationErrors != null){
        this.errorMesages = response.data.validationErrors
        console.log(response)
      } else {
      await  this.router.push('login')
      }
    }
  }
}
</script>

<style scoped>
.registration-block{
  margin: 0 auto;
}
</style>
