<template>
  <q-page class="main">
    <div class="container">
      <div class="title">
        <h2 class="title-text">Добавьте сертификаты для подвтерждения навыков</h2>
      </div>
      <div class="certificate-upload-block">
        <q-uploader label="Загрузка сертификатов" :factory="factoryFn" accept=".jpg, .png, .pdf, image/*" multiple
          max-files=10 batch enctype="multipart/form-data">
          <template v-slot:header="scope">
            <div class="row no-wrap items-center q-pa-sm q-gutter-xs">
              <q-btn v-if="scope.queuedFiles.length > 0" icon="clear_all" @click="scope.removeQueuedFiles" round dense
                flat>
                <q-tooltip>Очистить всё</q-tooltip>
              </q-btn>
              <q-btn v-if="scope.uploadedFiles.length > 0" icon="done_all" @click="scope.removeUploadedFiles" round
                dense flat>
                <q-tooltip>Отменить загрузку файлов</q-tooltip>
              </q-btn>
              <q-spinner v-if="scope.isUploading" class="q-uploader__spinner" />
              <div class="col">
                <div class="q-uploader__title">Выберите сертификаты</div>
                <div class="q-uploader__subtitle">{{ scope.uploadSizeLabel }} / {{ scope.uploadProgressLabel }}</div>
              </div>
              <p class="upload-information">Нажмите для загрузки файлов -></p>
              <q-btn v-if="scope.canAddFiles" type="a" icon="add_box" @click="scope.pickFiles" round dense flat>
                <q-uploader-add-trigger />
                <q-tooltip>Добавить файл</q-tooltip>
              </q-btn>
              <q-btn v-if="scope.isUploading" icon="clear" @click="scope.abort" round dense flat>
                <q-tooltip>Отменить загрузку</q-tooltip>
              </q-btn>
            </div>
            <div class="checkbox-title">
              <h3 class="textarea-title text-center" v-if="!selectOther">Введите информацию о ваших навыках</h3>
              <h3 class="textarea-title text-center" v-if="selectOther">Опишите ваши навыки</h3>
            </div>
            <div class="certificate-subscription items-center row justify-center">
              <div class="q-pa-md row items-center">
                <div class="q-gutter-sm">
                  <div class="row items-center">
                    <div class="checkbox-input row items-center" v-for="(subject) in subjects">
                      <input v-model="checked" class="form-check-input custom-checkbox" type="checkbox" :id=subject v-if="!selectOther"
                        :value=subject>
                      <label class="form-check-label" :for=subject>{{subject}}</label>
                    </div>
                    <q-checkbox v-model="selectOther" val="Другое" label="Другое" color="cyan" />
                  </div>
                </div>

              </div>
              <div class="information-block" v-if="selectOther">
                <div class="q-pa-md" style="width: 500px">
                  <q-input v-model="description" filled autogrow color="cyan-1" />
                </div>
              </div>
              <q-btn v-if="scope.canUpload" label="Отправить" @click="scope.upload" dense flat>
                <q-tooltip>Отправить</q-tooltip>
              </q-btn>
              <p class="text-message">{{ message }}</p>
            </div>
          </template>
        </q-uploader>
      </div>
    </div>
    <div class="q-pa-md q-gutter-sm">

      <q-dialog v-model="persistent" persistent transition-show="scale" transition-hide="scale">
        <q-card class="bg-teal text-white" style="width: 300px">
          <q-card-section>
            <div class="text-h6">Отправка сертификатов</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            {{ message }}
          </q-card-section>

          <q-card-actions align="right" class="bg-white text-teal">
            <q-btn flat label="Перейти в профиль" @click="toProfile" />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>

<script>
import { ref } from 'vue'
import { addCertificate, getAllSubjects } from 'src/api/teacher'
export default {
  name: 'AddTeacherPage',
  setup() {
    return {
      selectOther: ref(false),
      description: '',
      persistent: ref(false),
      message: '',
    }
  },
  data() {
    return {
      selection: ref([]),
      subjects: '',
      checked: []
    }
  },
  mounted() {
    this.GetSubjects()
  },
  methods: {
    async factoryFn(files) {
      const formData = new FormData()
      files.forEach(element => {
        formData.append("files", element)
      })
      if (this.checked.length == 0) {
       this.message = "Выберите предметы";
      return
      }
      if (this.description !== '') {
        formData.append("description", this.description)
      }
      this.checked.forEach(element => {
        formData.append("selection", element)
      })
      const response = await addCertificate(formData)
      if (response.data.value === 700) {
        this.message = 'Сертификаты успешно загружены, после проверки администрации вам придёт уведомление на email';
      }
      else if (response.data.value === 605) {
        this.message = 'Ваша заявка находится в обработке. Ждите ответа на email';
      }
      else {
        this.message = 'Произошла ошибка, сервис временно недоступен, попробуйте позднее.';
      }
      this.persistent = true
    },
    toProfile() {
      this.$router.push('/profile')
    },
    async GetSubjects() {
      const response = await getAllSubjects()
      if (response.data.value !== null) {
        this.subjects = response.data.value.subjects;
      } else {
        this.message = 'Произошла ошибка, сервис временно недоступен, попробуйте позднее.';
        this.persistent = true
      }
    }
  }
}
</script>

<style scoped>
.title-text {
  font-size: 24px;
}

.textarea-title {
  font-size: 24px;
}

.q-uploader {
  width: 100%;
}

.scroll {
  width: 100%;
}

.custom-checkbox {
  height: 20px;
  width: 20px;
}

.text-message {
  margin: 0 10px;
  font-weight: 300;
  color: red;
}
</style>
