<template>
  <q-page>
    <TestComponent></TestComponent>
  </q-page>
</template>

<script>
import TestComponent from 'components/RoomComponent'
export default {
  name: 'LessonPage',
  components: { TestComponent }
}
</script>

<style scoped>

</style>
