<template>
    <q-page class="main">
        <div class="container">
            <div class="title">
                <h2 class="title-text">Ваше расписание</h2>
            </div>
        </div>
    </q-page>
</template>