﻿@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApplication1.ViewModels.Applications.ApplicationsViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@if (Model.Applications == null)
{
    <h2>Список заявок пуст</h2>
}
else
{
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Статус</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var application in Model.Applications)
        {
            <tr>
                <th>@application.Email</th>
                <td>@application.Status</td>
                <td><a asp-action="ApplicationInformation" asp-route-email="@application.Email" class="btn btn-success">Подробнее</a></td>
            </tr>
        }
        </tbody>
    </table>
}

