<template>
  <q-page class="main">
    <div class="image-box">
      <div class="second-text-block absolute-center">
        <h2 class="title-bold">BigScilledTutor - </h2>
        <h2 class="title-description"> обучайся у лучших онлайн репетиторов и получай крутые знания.</h2>
      </div>
    </div>
    <div class="container">
      <div class="column ">
        <div class="information-block">
          <div class="search-block row wrap items-center justify-around">
            <div class="lesson search-item">
              <q-select color="blue" rounded outlined v-model="model" :options="options" label="Предмет" />
            </div>
            <div class="price search-item">
              <q-select color="purple-12" rounded outlined v-model="model" :options="options" label="Цена" />
            </div>
            <div class="time search-item">
              <q-select color="orange" rounded outlined v-model="model" :options="options" label="Время" />
            </div>
            <div class="search search-item">
              <q-input color="blue-grey" rounded outlined v-model="text" label="Найти...">
                <template v-slot:append>
                  <q-avatar>
                    <img src="../../assets/searchBlock/search-icon.png" alt="search">
                  </q-avatar>
                </template>
              </q-input>
            </div>
          </div>
        </div>
        <div class="tutors-block ">
          <div class="tutors-title">
            <h2 class="tutors-title-text">Репетиторы</h2>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div id="q-app" style="min-height: 10vh;">
                <div class="q-pa-md row items-start q-gutter-md">
                  <q-card class="my-card" flat bordered>
                    <div>
                      <div class="ava-bg">
                        <q-img src="../../assets/main/ava-bg.png"></q-img>
                      </div>
                      <div class="ava">
                        <q-img src="../../assets/main/ava-mockup.png"></q-img>
                      </div>
                    </div>
                    <q-card-section>
                      <div class="text-center">
                        <div class="text-h5 text-red-9 text-bold">Михаил Смирнов</div>
                        <div class="text-h7 text-grey-9 q-mt-sm q-mb-xs">Рейтинг 4,8 (120 ч.)</div>
                        <div class="text-h5 q-mt-sm q-mb-xs">5000 тг/час</div>
                      </div>
                      <div class="text-caption text-grey">
                        Сертифицированный репетитор TEFL / IELTS, носитель Американского Английского, с 2017 года с
                        большим опытом
                        как лично, так и онлайн.
                        Не как твой скучный репетитор.
                      </div>
                    </q-card-section>
                    <q-card-actions>
                      <q-btn color="grey-5" label="Профиль Тутора"></q-btn>
                      <q-btn color="red-2" class="text-red text-bold"><span>Записаться</span></q-btn>
                    </q-card-actions>
                  </q-card>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div id="q-app" style="min-height: 10vh;">
                <div class="q-pa-md row items-start q-gutter-md">
                  <q-card class="my-card" flat bordered>
                    <div>
                      <div class="ava-bg">
                        <q-img src="../../assets/main/ava-bg.png"></q-img>
                      </div>
                      <div class="ava">
                        <q-img src="../../assets/main/ava-mockup.png"></q-img>
                      </div>
                    </div>
                    <q-card-section>
                      <div class="text-center">
                        <div class="text-h5 text-red-9 text-bold">Михаил Смирнов</div>
                        <div class="text-h7 text-grey-9 q-mt-sm q-mb-xs">Рейтинг 4,8 (120 ч.)</div>
                        <div class="text-h5 q-mt-sm q-mb-xs">5000 тг/час</div>
                      </div>
                      <div class="text-caption text-grey">
                        Сертифицированный репетитор TEFL / IELTS, носитель Американского Английского, с 2017 года с
                        большим опытом
                        как лично, так и онлайн.
                        Не как твой скучный репетитор.
                      </div>
                    </q-card-section>
                    <q-card-actions>
                      <q-btn color="grey-5" label="Профиль Тутора"></q-btn>
                      <q-btn color="red-2" class="text-red text-bold"><span>Записаться</span></q-btn>
                    </q-card-actions>
                  </q-card>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div id="q-app" style="min-height: 10vh;">
                <div class="q-pa-md row items-start q-gutter-md">
                  <q-card class="my-card" flat bordered>
                    <div>
                      <div class="ava-bg">
                        <q-img src="../../assets/main/ava-bg.png"></q-img>
                      </div>
                      <div class="ava">
                        <q-img src="../../assets/main/ava-mockup.png"></q-img>
                      </div>
                    </div>
                    <q-card-section>
                      <div class="text-center">
                        <div class="text-h5 text-red-9 text-bold">Михаил Смирнов</div>
                        <div class="text-h7 text-grey-9 q-mt-sm q-mb-xs">Рейтинг 4,8 (120 ч.)</div>
                        <div class="text-h5 q-mt-sm q-mb-xs">5000 тг/час</div>
                      </div>
                      <div class="text-caption text-grey">
                        Сертифицированный репетитор TEFL / IELTS, носитель Американского Английского, с 2017 года с
                        большим опытом
                        как лично, так и онлайн.
                        Не как твой скучный репетитор.
                      </div>
                    </q-card-section>
                    <q-card-actions>
                      <q-btn color="grey-5" label="Профиль Тутора"></q-btn>
                      <q-btn color="red-2" class="text-red text-bold"><span>Записаться</span></q-btn>
                    </q-card-actions>
                  </q-card>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div id="q-app" style="min-height: 50vh;">
                <div class="q-pa-md row items-start q-gutter-md">
                  <q-card class="my-card" flat bordered>
                    <div>
                      <div class="ava-bg">
                        <q-img src="../../assets/main/ava-bg.png"></q-img>
                      </div>
                      <div class="ava">
                        <q-img src="../../assets/main/ava-mockup.png"></q-img>
                      </div>
                    </div>
                    <q-card-section>
                      <div class="text-center">
                        <div class="text-h5 text-red-9 text-bold">Михаил Смирнов</div>
                        <div class="text-h7 text-grey-9 q-mt-sm q-mb-xs">Рейтинг 4,8 (120 ч.)</div>
                        <div class="text-h5 q-mt-sm q-mb-xs">5000 тг/час</div>
                      </div>
                      <div class="text-caption text-grey">
                        Сертифицированный репетитор TEFL / IELTS, носитель Американского Английского, с 2017 года с
                        большим опытом
                        как лично, так и онлайн.
                        Не как твой скучный репетитор.
                      </div>
                    </q-card-section>
                    <q-card-actions>
                      <q-btn color="grey-5" label="Профиль Тутора"></q-btn>
                      <q-btn color="red-2" class="text-red text-bold"><span>Записаться</span></q-btn>
                    </q-card-actions>
                  </q-card>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div id="q-app" style="min-height: 50vh;">
                <div class="q-pa-md row items-start q-gutter-md">
                  <q-card class="my-card" flat bordered>
                    <div>
                      <div class="ava-bg">
                        <q-img src="../../assets/main/ava-bg.png"></q-img>
                      </div>
                      <div class="ava">
                        <q-img src="../../assets/main/ava-mockup.png"></q-img>
                      </div>
                    </div>
                    <q-card-section>
                      <div class="text-center">
                        <div class="text-h5 text-red-9 text-bold">Михаил Смирнов</div>
                        <div class="text-h7 text-grey-9 q-mt-sm q-mb-xs">Рейтинг 4,8 (120 ч.)</div>
                        <div class="text-h5 q-mt-sm q-mb-xs">5000 тг/час</div>
                      </div>
                      <div class="text-caption text-grey">
                        Сертифицированный репетитор TEFL / IELTS, носитель Американского Английского, с 2017 года с
                        большим опытом
                        как лично, так и онлайн.
                        Не как твой скучный репетитор.
                      </div>
                    </q-card-section>
                    <q-card-actions>
                      <q-btn color="grey-5" label="Профиль Тутора"></q-btn>
                      <q-btn color="red-2" class="text-red text-bold"><span>Записаться</span></q-btn>
                    </q-card-actions>
                  </q-card>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div id="q-app" style="min-height: 50vh;">
                <div class="q-pa-md row items-start q-gutter-md">
                  <q-card class="my-card" flat bordered>
                    <div>
                      <div class="ava-bg">
                        <q-img src="../../assets/main/ava-bg.png"></q-img>
                      </div>
                      <div class="ava">
                        <q-img src="../../assets/main/ava-mockup.png"></q-img>
                      </div>
                    </div>
                    <q-card-section>
                      <div class="text-center">
                        <div class="text-h5 text-red-9 text-bold">Михаил Смирнов</div>
                        <div class="text-h7 text-grey-9 q-mt-sm q-mb-xs">Рейтинг 4,8 (120 ч.)</div>
                        <div class="text-h5 q-mt-sm q-mb-xs">5000 тг/час</div>
                      </div>
                      <div class="text-caption text-grey">
                        Сертифицированный репетитор TEFL / IELTS, носитель Американского Английского, с 2017 года с
                        большим опытом
                        как лично, так и онлайн.
                        Не как твой скучный репетитор.
                      </div>
                    </q-card-section>
                    <q-card-actions>
                      <q-btn color="grey-5" label="Профиль Тутора"></q-btn>
                      <q-btn color="red-2" class="text-red text-bold"><span>Записаться</span></q-btn>
                    </q-card-actions>
                  </q-card>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <footer>
            <h6>TUTOR links</h6>>
          </footer>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'IndexPage',
  components: {}

})
</script>

<style>
main {
  background-color: #D6ECFA;
}

.image-box {
  position: relative;
  background-image: url("assets/main/main-title.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 45em;
  z-index: 100;
}

.information-block {
  position: relative;
  position: sticky;
  top: 1em;
  z-index: 100;
}

.second-text-box {
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  bottom: 2.5rem;
  left: 10rem;
  background: rgba(217, 217, 217, 0.05);
  mix-blend-mode: normal;
  backdrop-filter: blur(3px);
  border-radius: 29px;
  text-align: center;
}

.title-description {
  position: relative;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 75px;
  color: #4a2424;
  top: -1.5em;
}

.title-bold {
  position: relative;
  display: inline-block;
  top: -1.5em;
  padding-right: 0.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #5e1111;
}

.search-block {
  position: relative;
  bottom: 1em;
  background: #EAF3FA;
  border-bottom: 2px solid #a32929;
  box-shadow: 5px 5px 5px rgba(31, 1, 1, 0.301);
  border-radius: 30px;
  height: 7em;
  width: 100%;
  z-index: 0;
}

.search-item {
  width: 15%;
  margin: 20px;
}

.row, .column, .flex {
    justify-content: center;
}

.my-card {
  width: 100%;
  max-width: 300px;
}

.ava-bg {
  display: block;
  position: relative;
  width: 80%;
  margin: 0 auto;
  top: 10px;
}

.ava {
  display: block;
  width: 55%;
  position: absolute;
  top: 8.8%;
  right: 22.5%;
}

.tutors-title-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #3D6786;
}

.tutor-box {
  background-color: #EFEEEE;
  padding: 5px 10px;
  border-radius: 10px;
  opacity: 0.8;
}

.profile-avatar {
  height: 110px;
}

.profile-avatar>img {
  height: 100%;
}

.name {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #434343;
}

.lessons {
  display: inline-block;
}

.lessons-text {
  display: inline;
}

.text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #434343;
}

.status-text {
  color: #3D6786;
}

.profile-information {
  background-color: #ABE3C1;
  border-radius: 10px;
}

.price-count {
  display: inline;
}

.price {
  display: inline;
}

.rating-image {
  height: 22px;
}

.rating-image>img {
  height: 100%;
}

.rating-count {
  font-weight: bold;
}

.action-button {
  width: 85%;
  min-height: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: capitalize;
}
</style>
