﻿@using MongoDB.Bson
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApplication1.ViewModels.EntitiesViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="mb-2 row">
    <div class="col-3 mb-2">
        <h2>Предметы</h2>
        <button id="push" type="button" class="btn btn-outline-success">добавить предмет</button>
    </div>
    <div id="addSub" class="row bg-light border rounded" style="display: none">
        <div class="row">
            <div class="mb-3 col-4 ">
                <label asp-for="Subjects" for="exampleFormControlInput1" class="form-label">Название предмета</label>
                <input asp-for="Subjects" class="form-control" id="exampleFormControlInput1" placeholder="Французский">
                <span class="text-danger" asp-validation-for="Subjects"></span>
            </div>
            <div class="mb-3 col-8 ">
                <label asp-for="Subjects" for="exampleFormControlTextarea1" class="form-label">Описание предмета</label>
                <textarea asp-for="Subjects" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Опишите добавляемый предмет"></textarea>
                <span class="text-danger" asp-validation-for="Subjects"></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @foreach (var sub in @Model.Subjects)
    {
        <div class="col-3">
            <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">@sub.Name</div>
                <div class="card-body">
                    <h5 class="card-title">@sub.Name</h5>
                    <p class="card-text">@sub.Description</p>
                    <button class="btn btn-outline-success" type="submit">Редактировать</button>
                </div>
            </div>
        </div>
    }
</div>

<div class="mb-2">
    <div class="col-3">
        <h2>Специальности</h2>
        <button id="push2" type="button" class="btn btn-outline-success">добавить специальность</button>
    </div>
    <div id="addSpec" class="row mt-1 mb-1 bg-light border rounded" style="display: none">
        <div class="row">
            <form action="" method="post" id="ajax_form">
                   <div class="mb-3 col-3 ">
                                   <label for="exampleFormControlInput1" class="form-label">К какому предмету относится специальность?</label>
                                   <select>
                                       @if (@Model.Subjects != null)
                                       {
                                           @foreach (var opt in @Model.Subjects)
                                           {
                                               <option value="@opt.Name" name="SubjectName" id="subjectName">@opt.Name</option>
                                           }
                                       }
                                       else
                                       {
                                       <h3>Пока не добавлено ни одного предмета</h3>                                         
                                       }
                                   </select>
                               </div>
                               <div class="col-3 ">
                                   <label for="exampleFormControlInput1" class="form-label">Название специальности</label>
                                   <input type="text" class="form-control" id="specName" name="Name" placeholder="Разговорный английский">
                                   <span class="text-danger" asp-validation-for="Specialities"></span>
                               </div>
                               <div class="col-6 ">
                                   <label for="exampleFormControlTextarea1" class="form-label">Описание предмета</label>
                                   <textarea required="Описание обязательно" class="form-control" name="Description" id="specDesc" rows="3" placeholder="Опишите добавляемую специальность"></textarea>
                                   <span class="text-danger" asp-validation-for="Specialities"></span>
                               </div>
                <div>
                    <input type="button" id="ajaxTestButton1" value="Добавить"/>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    @foreach (var spec in @Model.Specialities)
    {
        <div class="col-3">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">@spec.SubjectName</div>
                <div class="card-body">
                    <h5 class="card-title">@spec.Name</h5>
                    <p class="card-text">@spec.Description</p>
                    <button class="btn btn-outline-dark" type="submit">Редактировать</button>
                </div>
            </div>
        </div>
    }
</div>