<template>
<q-page>
  <div class="container">
    <room-component></room-component>
  </div>
</q-page>
</template>

<script>
import RoomComponent from "components/RoomComponent";
export default {
  name: 'RoomPage',
  components: {RoomComponent}
}
</script>

<style scoped>

</style>
